.vscode/*
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.cache
htmlcov/

# Sensitive information
.env